.wrapper {
    display: flex;
    flex-direction: column;
    padding: 0 2%;
}
.wrapper__title {
    font-family: 'Montserrat', sans-serif;
    color: rgba(40, 40, 40, 1);
    font-size: 64px;
    font-weight: 900;
}
.wrapper__box {
    display: flex;
    font-family: 'Montserrat', sans-serif;
    gap: 100px;
    padding-top: 15px;
}
.wrapper__box_block {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.wrapper__box_block_item {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.wrapper__box_block_item_text {
    color: rgba(139, 139, 139, 1);
    font-size: 20px;
}
.wrapper__box_block_item_head {
    color: rgba(40, 40, 40, 1);
    font-size: 40px;
    font-weight: 900;
}
.wrapper__box_block_images {
    display: flex;
    gap: 15px;
}