.wrapper {
    display: flex;
    flex-direction: column;
    margin-top: 60px;
    padding: 0 2%;
    margin-bottom: 60px;
}
.wrapper__block1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.wrapper__block1_title {
    font-family: "Montserrat", sans-serif;
    font-size: 64px;
    font-weight: 900;
    color: rgba(40, 40, 40, 1);
}
.wrapper__block2 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    padding-top: 30px;
}